<section class="slider_section">
    <div class="banner_main">
        <div class="container-fluid">
            <div class="contact">
                <div class="container-fluid padddd">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="title">
                                <br>
                                <h2>User <strong class="black">Register / Login</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padddd">

                <form #frm="ngForm" (submit)="register(frm.value)" class="main_form">
                                <div class="row"> 
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Name" type="text" ngModel name="name">
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Email" type="text" ngModel name="email">
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Password" type="password" name="password" ngModel>
                                    </div>
                                  
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <button class="send">Register</button>
                                        &nbsp;
                                        <b class='text-danger'>{{regmsg}}</b>
                                    </div>
                                </div>
                            </form>

                        </div>


                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padddd">
                            <form #frml="ngForm" (submit)="login(frml.value) " class="main_form">
                                <div class="row">                                   
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Email" ngModel type="text" name="email">
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Password" ngModel name="password" type="password" required>
                                    </div>
                                  
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <button class="send">Login</button>
                                        &nbsp;
                                        <b class='text-danger'>{{loginmsg}}</b>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
